<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    현재 웨이팅 수:
    <%= people %>
    내 번호 : <%= number %>
    
    <form action="/waiting" method="post">
        <input type="text" name="id" value="<%=id %>">
        <input type="text" name="resnum" value="<%= resnum %>">
        <input type="text" name="waitingnum" value="<%=people + 1%>">
        <input type="text" name="people" value="<%= people+1 %>">
        <input type="text" name="tf" value="false">
        <input type="text" name="date" value="<%= date %>">
        <input type="submit" value="예약">
    </form>
</body>
</html>